Flask_Cors==3.0.10
Werkzeug==1.0.1
Flask==1.1.2
python-dotenv==0.17.1
click==7.1.2
gunicorn
flask-restx
flask-migrate
flask-sqlalchemy
flask_marshmallow
marshmallow-sqlalchemy
marshmallow_enum
marshmallow
alembic
psycopg2-binary
Flask-Login
oauthlib
pyOpenSSL
requests
google-auth-oauthlib
Flask-HTTPAuth
tweepy
nltk
setuptools
wheel
spacy
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0-py3-none-any.whl
GoogleNews
newspaper3k
praw
flask-executor
firebase_admin
scikit-learn
spacytextblob
emoji